body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #005355;
    color: white;
    padding: 3rem;
    position: relative;
}

.back-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.back-button:hover {
    color: lightgray;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
}


.container img {
    max-width: 100%;
    height: auto;
}


textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    background-color: #005355;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #007777;
}


