

section {
    padding: 4rem;
}


.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.blocks {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: start;
}


.blocks:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* تنسيق الصورة */
.blocks img {
    width: 100%;
    border-radius: 10px;
}

/* اسم المنتج */
.blocks h3 {
    margin: 15px 0 10px;
    font-size: 1.2rem;
    color: #333;
}

/* تنسيق السعر والمستخدم */
.blocks .img , .blocks .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    color: #555;
}


.blocks i {
    color: #007bff;
}


.blocks div div a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.blocks div div a:hover {
    text-decoration: underline;
}
.blocks .new {
    position: absolute;
    background: rgba(8, 255, 8, 0.541);
    padding: 5px;
    padding-inline: 20px;
    border-radius: 7px;
    font-size: large;
    font-weight: bold;
}
/* وصف المنتج */
.description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.price-user {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}


.add-to-cart , .details {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.details {
    background: orange;
}
.details:hover {
    background: rgba(255, 177, 31, 0.911);
}
.add-to-cart:hover {
    background: #0056b3;
}



/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 15px;
    }

    .container div {
        width: 100%;
    }

    textarea {
        height: 150px;
    }
    
    button {
        width: 100%;
        font-size: 16px;
    }
}

